html {
  /* margin: 0; */
  /* padding: 0; */
  /* justify-content: center; */
  scroll-behavior: smooth;
  font-family: "DM Sans";
}

body {
  padding-left: 20px;
  padding-right: 20px;
  /* margin: 0 auto; */
  /* justify-content: center; */
  /* width: 800px; */
  /* overflow: hidden; */
  /* min-width: 1000px; */
  /* max-width: 1000px; */
  background-color: #bfd;
}

.landing-page {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  z-index: 200;
  background-color: white;
  color: black;
  text-align: center;
  /* display: inline-block; */
  /* vertical-align: middle; */
}

.landing-page.display-none {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  z-index: -10;
  background-color: white;
  color: black;
  text-align: center;
  opacity: 0;

  /* display: inline-block; */
  /* vertical-align: middle; */
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}

.container-header header {
  /* background-color: #34c4e8; */
  background-color: #bfd;
  padding-top: 0px;
  padding-bottom: 0px;
  /* padding: 10px; */
  margin-top: -10px;
  padding-left: 20px;
  padding-right: 10px;
  margin-left: -30px;
  margin-right: -30px;
  /* margin-bottom: 10px; */

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-header h1 {
  color: black;
}

.container-header nav {
  /* background-color: #34c4e8; */
  background-color: #bfd;
  display: flex;
  justify-content: space-around;
  /* width: 100%; */
}

.container-header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.container-header nav li {
  margin-right: 30px;
}

.container-header nav li:hover {
  text-decoration: underline;
  color: #e06;
}

.container-header nav a {
  text-decoration: none;
  color: black;
}

.container-header nav a:hover {
  text-decoration: none;
  color: #e06;
}

.container-content {
  /* display: flex; */
  min-width: 1000px;
  max-width: 1000px;
  justify-content: center;
  margin: 0 auto; /* this was the crucial line to get the centering to work */
}

.two-pics-and-description {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.two-pics-and-description img {
  border-radius: 25px;
  overflow: hidden;
  /* max-width: 300px; */
  /* max-height: 150px; */
  width: 300px;
  height: auto;
  /* height: 300px; */
  /* width: auto; */
  padding: 3px;
}

.description-with-buttons {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  padding-left: 10px;
  padding-right: 10px;
  padding: 10px;
  /* border-style: solid; */
  /* border-color: black; */
  /* border-color: #1cb8df; */
  /* border-radius: 5% / 25%; */
  /* border-width: 2px; */
  /* border-radius: 5%; */
  /* background-color: white; */
  box-sizing: border-box;
  min-width: 400px;
  max-width: 400px;

  /* margin-top: 0px;
  border-top: 0px;
  padding-top: 0px; */
}

/* .table-of-contents {
  text-align: center;
} */

.table-of-contents li {
  list-style-position: inside;
  border-left: 1px solid black;
  padding-left: 5px;
}

.table-of-contents ol {
  margin-top: 0;
  padding-left: 0;
}

.table-of-contents h3 {
  margin: 0;
  padding: 0;
}

.table-of-contents li:hover {
  text-decoration: underline;
  color: #e06;
}
.table-of-contents a:hover {
  text-decoration: none;
  color: #e06;
}

.table-of-contents a {
  text-decoration: none;
  color: black;
}

.row-of-buttons {
  display: flex;
  /* margin: 0 auto; */
  justify-content: center;
  align-items: center;
  /* border-style: solid; */
  /* border-color: #1cb8df; */
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 40px; /*this should be deleted, and instead should find a way to stop the lopsidedness.*/
  margin: 0 auto;
}

.row-of-buttons button {
  padding-top: 10px;
  background-color: #bfd;
  color: white;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  /* padding-left: zero; */
  /* margin-left: zero; */
}

.row-of-buttons img {
  width: 40px;
  height: 40px;
  /* border-style: solid; */
}

.row-of-buttons ul {
  list-style: none;
  display: flex;
}

.description-with-buttons h2 {
  color: black;
  text-align: center;
  margin-top: 0px;
  border-top: 0px;
  padding-top: 0px;

  /* font-family: "Source Sans Pro", sans-serif; */
  /* margin: 0 auto; */
}

.description-with-buttons hr {
  width: 100px;
  color: black;
  border: 1px solid #000;
  /* height: 12px; */
  /* border: 0; */
  /* box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5); */
}

hr {
  color: black;
  border: 1px solid #000;
}

#projects h2 {
  margin-left: 15px;
}

#projects h3 {
  margin-left: 30px;
}

footer {
  background-color: #bfd;
  color: black;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;

  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: -10px;
}
